
/*Reset CSS*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}
/* Configurações Gerais */
body{
    /* background-color: black;*/
}

.interface{
    max-width: 1280px; /*largura máxima*/
    margin: 0 auto;
}

header .btn-contato button, .hero-site button{
    font-size: 18px;
    background-color: transparent;
    border: 1px solid #fff;
    color: white;
    cursor: pointer;
    transition: 0.5s;
}

/* Cabeçalho */
header{
    width: 100%; /*Ocupa 100% do tamanho da minha tela, independente do tamanho do site*/
    padding: 40px 0; /* espaçamento interno */
    position: fixed;
    top: 0;
    left: 0;
}

header .interface{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo img{
    max-width: 50px;
}

header .menu-desktop nav ul{
    list-style-type: none;
}

header .menu-desktop nav ul li{
    display: inline-block;
    margin: 0 40px;
}

header .menu-desktop nav ul li a{
    color: white;
    text-decoration: none;
    display: inline-block; /*para que o link aceite a trancisão (hover)*/
    transition: .2s;
}

header .btn-contato button{
    width: 140px; /* largura */
    height: 50px;/* altura */

}

.menu-desktop nav a:hover{
    transform: scale(1.05);
}

header .btn-contato button:hover, .hero-site button:hover{
    background-color: #fff;
    color: black;
}

/* Estilo do Hero */
section.hero-site{
    height: 98vh;/* isso sgnifiica que a sessão vai ocupar 98% da tela, independente da altura dela*/
    background-image: url(../imagens/hero-banner.jpg);
    background-repeat: no-repeat; /*para que a imagem não se repita*/
    background-size: cover; /*usa o espaço destinado para imagem*/
    background-position: center;
    color: #fff;
}

.hero-site .interface{
    display: flex;
    align-items: center;
    height: 100%; /* tem que ser em porcentagem pois a altura da hero vai variar de acordo com o tamanho da tela (98vh)*/

}

.hero-site .txt-hero h1{
    font-size: 4em; /*tamanho relativo*/
    line-height: 70px; /*altura entre linhas*/
    font-weight: 200;
}

.hero-site .txt-hero h1 span{
    display: block; /*joga o span para linha debaixo*/
    font-weight: 800;

}

.hero-site .txt-hero p{
    font-size: 20px;
    font-weight: 300;
    margin: 20px 0;
}

.hero-site .txt-hero p span{
    display: block;
    
}

.hero-site button{
    width: 220px;
    height: 60px;
    font-size: 20px;
}